{% extends "layout.html" %}
{% block content %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
	<style>
		body {
			background: #E9E9E9;
		}
		#blog-landing {
			margin-top: 81px;
			position: relative;
			max-width: 100%;
			width: 100%;
		}
		.white-panel {
			position: absolute;
			background: white;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
			padding: 10px;
		}
		.white-panel h1 {
			font-size: 1em;
		}
		.white-panel h1 a {
			color: #A92733;
		}
		.white-panel:hover {
			box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
			margin-top: -5px;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

         .ui-widget-header {
            background: #cedc98;
            border: 1px solid #DDDDDD;
            color: #333333;
            font-weight: bold;
         }

        .container {
            padding-top: 20px;
        }
      </style>

	<!--<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">-->
</head>
<!-- NAVBAR
================================================== -->

<body>

	<!--25,300-->
	<!-- <button id="page-up" style="width:100%; height:40px; position:absolute; display:none ;" class="btn btn-warning" onclick="loadPrevious();">PAGE UP</button> -->
	<div class="jquery-script-clear"></div>
	<div id="container">

    <button id="crawlServiceStatusButton" class="btn btn-success .disabled " type="button" style="display:inline; margin-left:20px; padding-right:10px; ">
        Crawl Service is Running
    </button>

		<div class="container marketing">
			<div class="row" >
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Profile Usernames</h3>
						</div>
						<div class="panel-body">
							<div>
							Enter line-separated usernames
							</div>
							<div class="input-group" style="width: 100%;">
								<textarea id="urlsToAdd" style="height:200px; width:100%; font-size:13px;" class="form-control"></textarea>
							</div><!-- /input-group -->
						</div>
						<div class="panel-footer">
              <div class="row">
                <div class="col-sm-3">
    							<button id="saveButton"
                          class="btn btn-primary btn-block btn-sm"
                          type="button">
    								Run Profiler
    							</button>
                </div>
                <div class="col-sm-3">
    							<button id="crawlStopButton"
                          class="btn btn-primary btn-block btn-sm"
                          type="button">
                    Stop Crawl Services
    							</button>
                </div>
                <div class="col-sm-3">
    							<button id="crawlStartButton"
                          class="btn btn-primary btn-block btn-sm"
                          type="button">
    								Start Crawl Services
    							</button>
                </div>
                <div class="col-sm-3">
    							<button id="clearCrawlButton"
                          class="btn btn-primary btn-block btn-sm"
                          type="button">
    								Clear Crawl Data
    							</button>
                </div>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="container">
		<div class="container marketing">
			<div class="row" >
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Profiler Results</h3>
						</div>
						<div class="panel-body">
              <div id="progresstext" style="margin-top:10px; margin-bottom:15px;">
                Calculating progress...
              </div>
              <div id="progressbar-1" style="margin-top:10px; margin-bottom:15px;">
              </div>

              <div id="container">
                <ul class="list-group">
                {% for user, count in users.iteritems() %}
                  <li class="list-group-item">
                    <span class="badge">{{ count }}</span>
                    <a href="/user/{{ user }}">{{ user }}</a>
                  </li>
                {% endfor %}
                </ul>
                <a href="/data-download.jl">Download All Data</a>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


    <div id="dialog-confirm"></div>


<!--
	<div id="container">

		<div class="container marketing">
			<div class="row" >
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Profiler Results</h3>
						</div>
						<div class="panel-body">
                            <div class="panel panel-primary">
                                <div class="panel-heading">User 1<span class="badge">14</span></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-md-1">
                                            <a href="#" class="thumbnail">
                                                <h3>Thumbnail label</h3>
                                                <img src="https://browshot.com/static/images/not-found.png" alt="125x125" height="300" width="300">
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-md-1">
                                            <a href="#" class="thumbnail">
                                                <img src="https://browshot.com/static/images/not-found.png" alt="125x125">
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-md-1">
                                            <a href="#" class="thumbnail">
                                                <img src="https://browshot.com/static/images/not-found.png" alt="125x125">
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-md-1">
                                            <a href="#" class="thumbnail">
                                                <img src="https://browshot.com/static/images/not-found.png" alt="125x125">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">User 1<span class="badge">14</span></div>
                                <div class="panel-body">blahblahblahsdhaosd</div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">User 1<span class="badge">14</span></div>
                                <div class="panel-body">blahblahblahsdhaosd</div>
                            </div>
                            <div class="panel panel-warning">
                                <div class="panel-heading">User 1<span class="badge">14</span></div>
                                <div class="panel-body">blahblahblahsdhaosd</div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="panel-heading">User 1 <span class="badge">14</span></div>
                                <div class="panel-body">blahblahblahsdhaosd</div>
                            </div>
						</div>
					</div>
				</div>&lt;!&ndash; /.col-lg-6 &ndash;&gt;
			</div>&lt;!&ndash; /.row &ndash;&gt;
		</div>
	</div>
-->





<!--    <div id="results" class="col-lg-12">
        <h1>Results</h1>

          <div class="container thumbnails">
            <div class="row">
                <div class="col-sm-3 col-md-1">
                    <a href="#" class="thumbnail">
                        <img src="https://browshot.com/static/images/not-found.png" alt="125x125">
                    </a>
                </div>
                <div class="col-sm-3 col-md-1">
                    <a href="#" class="thumbnail">
                        <img src="https://browshot.com/static/images/not-found.png" alt="125x125">
                    </a>
                </div>
                <div class="col-sm-3 col-md-1">
                    <a href="#" class="thumbnail">
                        <img src="https://browshot.com/static/images/not-found.png" alt="125x125">
                    </a>
                </div>
                <div class="col-sm-3 col-md-1">
                    <a href="#" class="thumbnail">
                        <img src="https://browshot.com/static/images/not-found.png" alt="125x125">
                    </a>
                </div>
            </div>
        </div>
    </div>-->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
	<!--<script src="{{ url_for('static', filename='js/pinterest_grid.js') }}"></script>-->

</body>

<script>


    var crawl_service_status = null;
    var saveUrls = function() {

        if (crawl_service_status == true){
            //do nothing
        }
        else {
            alert("Crawl service must be running for you to run the profiler!!");
            return false;
        }

		//sent as a big blob because i don't want to deal with normalizing newlines (python does this server-side for me)
        var urlsToAdd = [$("#urlsToAdd").val()];
		console.log(urlsToAdd);


		var posting = $.ajax({
			type : "POST",
			url : '/api/add-usernames',
			contentType: 'application/json',
			dataType: 'json',
			data: JSON.stringify(urlsToAdd),
			success : function(data) {
				$("#saved").css("display", "inline");
				console.log("data sent: " + data);
				setTimeout(function() {
     				$("#saved").css("display", "none");
				}, 2000);
			}
		});
    };

    var stopCrawlServices = function() {
		var posting = $.ajax({
			type : "GET",
			url : '/api/kill-crawl-services',
			success : function(data) {
                console.log("Crawl services stopped!");
			}
		});
    };

    var startCrawlServices = function() {
		//sent as a big blob because i don't want to deal with normalizing newlines (python does this server-side for me)
		var posting = $.ajax({
			type : "GET",
			url : '/api/start-crawl-services',
			success : function(data) {
                console.log("Crawl services started!");
			}
		});
    };

    var getCrawlServiceStatus = function() {
		//sent as a big blob because i don't want to deal with normalizing newlines (python does this server-side for me)
		var posting = $.ajax({
			type : "GET",
			url : '/api/crawl-service-status',
			success : function(data) {
                console.log(data.status);
                if (data.status == "down"){
                    console.log("Crawl status is down!")
                    $("#crawlServiceStatusButton").removeClass("btn-success");
                    $("#crawlServiceStatusButton").addClass("btn-danger");
                    $("#crawlServiceStatusButton").text("Crawl Service is Down");
                    crawl_service_status = false;
                }
                else {
                    console.log("Crawl status is up!");
                    $("#crawlServiceStatusButton").addClass("btn-success");
                    $("#crawlServiceStatusButton").removeClass("btn-danger");
                    $("#crawlServiceStatusButton").text("Crawl Service is Up");
                    crawl_service_status = true;
                }
			}
		});
    };

    var clearCrawlData = function() {

        if (crawl_service_status == true){
            //do nothing
        }
        else {
            alert("Crawl service must be running for you to clear it!");
            return false;
        }

        var r = window.confirm("Warning: this will clear your crawl data, it cannot be recovered!!");
        if (r == true){
            //do nothing
        }
        else {
           return false;
        }

		var posting = $.ajax({
			type : "GET",
			url : '/api/clear-crawls',
			success : function(data) {
                console.log("Clearing crawl services");
                location.reload();
			}
		});
    };


	$(document).ready(function() {
        getCrawlServiceStatus();

		$("#crawlStopButton").click(stopCrawlServices);
		$("#crawlStartButton").click(startCrawlServices);
        $('#clearCrawlButton').click(clearCrawlData);

		$('#saveButton').click(saveUrls);
        var seconds = 1;

            setInterval(function(){
                $.ajax({
                    type: "GET",
                    url: '/api/job-stats',
                    success: function(data) {
                        console.log(data);
                        dataobj = JSON.parse(data);
                        console.log(dataobj.finished);
                        if (dataobj.running != 0) {
                            $("#progressbar-1").progressbar({value: dataobj.finished, max: dataobj.all});
                            //!
                            $("#progresstext").text("");

                            if (dataobj.finished == dataobj.all) {
                                $("#progresstext").text("Done!");
                            }
                            else {
                                $("#progresstext").text(String(dataobj.finished) + "/" + String(dataobj.all) + " usernames completed...");
                            }
                        }
                        else if (dataobj.running == 0 && dataobj.finished != 0){
                            $("#progresstext").text("Done!");
                            $("#progresstext").text(String(dataobj.finished) + "/" + String(dataobj.all) + " usernames completed...");
                            $("#progressbar-1").progressbar({value: dataobj.finished, max: dataobj.all});
                        }
                        else {
                            $("#progresstext").text("No job running...");
                            console.log("No job runnning!")
                        }
                    }
                });
            }, seconds * 1000);

            setInterval(getCrawlServiceStatus, seconds * 1000);
	});
</script>

</html>
{% endblock %}
